:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
  flex-direction: row;
}

.button:hover {
background-color: rgba(238, 238, 238, 0.911);
}

.button:active {
  background-color: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: #fff;
}

.button.operation:hover {
  background-color: #ff934cc2;
  color: rgb(226, 226, 226);
  border: 0.05px solid rgba(0, 0, 0, 0.315);
}

.button.operation:active {
  background-color: #fa8231cc;
}

.button.cancel {
  background-color: red;
  color: #fff;
}

.button.cancel:hover {
  background-color: rgba(145, 0, 0, 0.877);
  color: #fff;
  border: 0.05px solid rgba(0, 0, 0, 0.315);
}