@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('../public/index.html');
}

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(78, 205, 196), rgb(85, 98, 112));
  /* https://uigradients.com/ */
}